.greenBtn {
	width: 223px;
	height: 73px;
	background-color: #00897B;
	color: #ffffff;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 22px;
	letter-spacing: 1px;
}

.greenBtn:hover {
	cursor: pointer;
}